.healfood {
    display: flex;
    background-color: #eccccc;
    color: #e31515;
    font-size: 1vw;
    margin: 0 10vw;
}

.bestfood {
    color: #1a1a1a;
    font-size: 4vw;
    margin: 0 10vw;
}

.lorem-1 {
    color: #585656;
    font-size: 1vw;
    margin: 0 10vw;
}

.box-horizontal {
    display: inline-block;
    width: 24vw;
    height: 18vw;
    border-top-right-radius: 9vw;
    border-bottom-right-radius: 9vw;
    background-color: #1a1a1a;
    margin: 0 20vw;
    padding: 0;
}

.box-horizontal,
narezki-50 {
    display: flex;
    flex-direction: row;
    justify-content: flex-left;
    align-content: center;
}

.box-hor-nar {
    display: flex-row;
    justify-content: flex-end;
    align-content: center;
}

.order-now {
    text-decoration: none;
    border: 0;
    padding: 1vw 3vw;
    margin: 0 5vw;
    font-size: 1vw;
    border-radius: 1vw;
    color: #fafafa;
    background-color: #f6a079;
    // transition: all 1s;
}

.delicious {
    text-decoration: none;
    border: 0;
    padding: 1vw 3vw;
    margin: 0 5vw;
    font-size: 1vw;
    border-radius: 1vw;
    color: #fafafa;
    background-color: #f6a079;
}

.money {
    color: #fafafa;
}

.$ {
    color: #9a0e0e;
}
