.healfood {
    background-color: #eccccc;
    color: #e31515;
    font-size: 1vw;
    margin: 0 10vw;
}

.bestfood {
    color: #1a1a1a;
    font-size: 4vw;
    margin: 0 10vw;
}

.lorem-1 {
    color: #585656;
    font-size: 1vw;
    margin: 0 10vw;
}
