* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body {
    display: flex;
    background-color: #fafafa;
    padding: 1vw;
    font-family: "Work Sans", sans-serif;
}
